[Unit]
Description=ZEDEDA ZKS Bootstrap
Documentation=https://github.com/sathiyadev-zededa/zks-bootstrap
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
ExecStart=/usr/sbin/zks-bootstrap
# Retry if the bootstrap script fails due to transient issues
Restart=on-failure
RestartSec=30s
StandardOutput=append:/var/log/zks-bootstrap.log
StandardError=append:/var/log/zks-bootstrap.log

[Install]
WantedBy=multi-user.target

